/*AboutPage Styles*/

.about-page {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.about-page h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.about-page section {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #c89666;
  margin-bottom: 15px;
}

.about-page h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #c89666;
  padding-bottom: 5px;
  font-size: 1.1rem;
}

.about-page p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.about-page button {
  display: block;
  margin: 20px auto 0 auto;
}

@media (min-width: 768px) {
  .about-page {
    max-width: 700px;
  }

  .about-page h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }

  .about-page section {
    padding: 20px;
    margin-bottom: 20px;
  }

  .about-page h3 {
    font-size: 1.25rem;
  }

  .about-page p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .about-page {
    max-width: 900px;
  }

  .about-page section {
    padding: 25px;
  }
}