/*AboutPage Styles*/

.about-page {
  max-width: 800px;
  margin: 0 auto;
}

.about-page h2 {
  text-align: center;
  margin-bottom: 30px;
}

.about-page section {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
  margin-bottom: 20px;
}

.about-page h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #c89666;
  padding-bottom: 5px;
}

.about-page p {
  margin-bottom: 10px;
}

.about-page button {
  display: block;
  margin: 20px auto 0 auto;
}