/*CreatePlaylistPage Styles*/

.create-playlist-page {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.create-playlist-page h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .create-playlist-page {
    max-width: 600px;
  }

  .create-playlist-page h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .create-playlist-page {
    max-width: 700px;
  }

  .create-playlist-page h2 {
    font-size: 2rem;
  }
}