/*CreatePlaylistPage Styles*/

.create-playlist-page {
  max-width: 100%;
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 300px);
}

@media (min-width: 768px) {
  .create-playlist-page {
    padding: 60px 40px;
  }
}

@media (min-width: 1024px) {
  .create-playlist-page {
    padding: 80px 60px;
  }
}