/*Footer Styles*/

footer {
  background-color: transparent;
  backdrop-filter: blur(4px);
  color: #242222;
  padding: 30px 20px 15px;
  margin-top: 30px;
}

footer > div:first-child {
  display: flex;
  justify-content: space-around;
  border-top: 3px solid #696868;
  max-width: 1200px;
  margin: 0 auto 10px;
  gap: 60px;
  padding-top: 30px;
}

footer section {
  flex: 1;
  min-width: 150px;
}

footer section h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

footer h4 {
  margin-bottom: 5px;
}

footer p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

footer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 0px;
}

footer a {
  color: #2e2b2b;
}

footer section a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 0.95rem;
}

footer section a:hover {
  text-decoration: underline;
}

footer a:hover {
  color: #c89666;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 10px;
}

@media (min-width: 768px) {
  footer > div:first-child {
    grid-template-columns: 1fr 1fr;
  }

  .social-links {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  footer > div:first-child {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto 20px auto;
  }

  footer > div:last-child {
    max-width: 1200px;
    margin: 0 auto;
  }

  .social-links {
    gap: 25px;
  }
}
