/*GenreItem Styles*/

.genre-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #c7c6c6;
  font-size: 0.9rem;
}

.genre-item:last-child {
  border-bottom: none;
}

.genre-item input[type="checkbox"] {
  margin-right: 10px;
  width: 5px;
  height: 5px;
  cursor: pointer;
  accent-color: #8a48227c;
}

.genre-item label {
  margin: 0;
  flex: 1;
  cursor: pointer;
  color: #202020;
  font-weight: normal;
}

@media (min-width: 768px) {
  .genre-item {
    padding: 12px 15px;
    font-size: 0.95rem;
  }

  .genre-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #8a48227c;
  }
}

@media (min-width: 1024px) {
  .genre-item {
    padding: 12px 18px;
    font-size: 1rem;
  }
}