/*GenreList Styles*/

.genre-list {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.genre-list h3 {
  margin-bottom: 10px;
}

.genre-list > p {
  margin-bottom: 20px;
}

.genre-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.genre-list-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid #c89666;
}

.genre-list-actions button {
  width: 100%;
}

@media (min-width: 768px) {
  .genre-items {
    grid-template-columns: 1fr 1fr;
  }

  .genre-list-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .genre-list-actions button {
    width: auto;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  .genre-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .genre-list {
    padding: 30px;
  }
}