/*GenreList Styles*/

.genre-list {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.genre-list h3 {
  margin-bottom: 10px;
}

.genre-list > p {
  margin-bottom: 20px;
}

.genre-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.genre-list-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #c89666;
}