/*Header Styles*/

header {
  background-color: #49494b;
  color: #ffffff;
  padding: 20px;
}

header > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

header input[type="text"] {
  flex: 1;
  max-width: 400px;
  margin-right: 10px;
}

header > div:first-child button {
  background-color: #ffffff;
  color: #2d545e;
  border: 2px solid #2d545e;
  margin-left: 5px;
}

header h1 {
  text-align: center;
  margin: 10px 0;
}

header > button {
  display: block;
  margin: 10px auto 0 auto;
  color: #ffffff;
}