/*MediaPlayer Styles*/

.media-player {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 700px;
  width: 100%;
}

.media-player button {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1.2rem;
  background-color: #2d545e;
  color: #ffffff;
  border: 2px solid #12343b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-player button:hover {
  background-color: #12343b;
}

@media (min-width: 768px) {
  .media-player {
    gap: 18px;
    max-width: 750px;
  }

  .media-player button {
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .media-player {
    gap: 20px;
    max-width: 800px;
  }

  .media-player button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
  }
}