/*MediaPlayer Styles*/

.media-player {
  background-color: #bd7e66;
  padding: 20px;
  border: 1px solid #f37e10;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.media-player button {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.2rem;
}