/*MediaPlayer Styles*/

.media-player {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.media-player button {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .media-player {
    gap: 12px;
  }

  .media-player button {
    width: 45px;
    height: 45px;
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .media-player {
    gap: 15px;
  }

  .media-player button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}