/*PlaylistPage Styles*/

.playlist-page {
  width: 100%;
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 400px);
  gap: 20px;
}

@media (min-width: 768px) {
  .playlist-page {
    padding: 60px 20px;
    min-height: calc(100vh - 350px);
  }
}

@media (min-width: 1024px) {
  .playlist-page {
    padding: 80px 40px;
    min-height: calc(100vh - 300px);
  }
}