/*Playlist Styles*/

.playlist {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
  margin-bottom: 20px;
}

.playlist h3 {
  text-align: center;
  margin-bottom: 15px;
}

.playlist table {
  font-size: 0.75rem;
  width: 100%;
  display: block;
  overflow-x: auto;
}

.playlist th,
.playlist td {
  padding: 8px 5px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .playlist table {
    font-size: 0.9rem;
    display: table;
  }
}

  .playlist th,
  .playlist td {
    padding: 10px;
  }

@media (min-width: 1024px) {
  .playlist {
    padding: 30px;
  }

  .playlist table {
    font-size: 1rem;
  }
}