/*PlaylistForm Styles*/

.playlist-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.playlist-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.playlist-form input,
.playlist-form textarea {
  margin-bottom: 15px;
}

.playlist-form button {
  width: 100%;
}

@media (min-width: 768px) {
  .playlist-form {
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .playlist-form {
    max-width: 600px;
  }
}
