/*PlaylistPage Styles*/

.playlist-page {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.playlist-page h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.playlist-page > button {
  display: block;
  margin: 15px auto;
  width: 100%;
}

@media (min-width: 768px) {
  .playlist-page {
    max-width: 800px;
  }

  .playlist-page h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  .playlist-page > button {
    width: auto;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  .playlist-page {
    max-width: 1000px;
  }

  .playlist-page h2 {
    font-size: 2rem;
  }

  .playlist-page > button {
    margin: 20px auto;
    padding: 12px 40px;
  }
}