/*PlaylistForm Styles*/

.playlist-form {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #c89666;
}

.playlist-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.playlist-form input,
.playlist-form textarea {
  margin-bottom: 15px;
}

.playlist-form button {
  width: 100%;
}
