/*SelectTracksPage Styles*/

.select-tracks-page {
  width: 100%;
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 400px);
}

@media (min-width: 768px) {
  .select-tracks-page {
    padding: 60px 20px;
    min-height: calc(100vh - 350px);
  }
}

@media (min-width: 1024px) {
  .select-tracks-page {
    padding: 80px 40px;
    min-height: calc(100vh - 300px);
  }
}