/*SelectSourcePage Styles*/

.select-source-page {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.select-source-page h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .select-source-page {
    max-width: 700px;
  }

  .select-source-page h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .select-source-page {
    max-width: 900px;
  }

  .select-source-page h2 {
    font-size: 2rem;
  }
}