/*SourceList Styles*/

.source-list {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.source-list h3 {
  margin-bottom: 10px;
}

.source-list > p {
  margin-bottom: 20px;
}

.source-header {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  gap: 5px;
  padding: 10px 5px;
  background-color: #2d545e;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.75rem;
}

.source-items {
  margin-bottom: 20px;
}

.source-list-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid #c89666;
}

.source-list-actions a {
  text-align: center;
}

.source-list-actions button {
  width: 100%;
}

@media (min-width: 768px) {
  .source-header {
    gap: 10px;
    padding: 10px;
    font-size: 0.9rem;
  }

  .source-list-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .source-list-actions button {
    width: auto;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  .source-list {
    padding: 30px;
  }

  .source-header {
    font-size: 1rem;
  }
}