/*SourceList Styles*/

.source-list {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.source-list h3 {
  margin-bottom: 10px;
}

.source-list > p {
  margin-bottom: 20px;
}

.source-header {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #beac94;
  color: #ffffff;
  font-weight: bold;
}

.source-items {
  margin-bottom: 20px;
}

.source-list-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #c89666;
}