/*SourceItem Styles*/

.source-item {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  gap: 5px;
  align-items: center;
  padding: 10px 5px;
  background-color: #c89666;
  border: 1px solid #c89666;
  border-top: none;
  font-size: 0.85rem;
}

.source-item input[type="checkbox"] {
  margin: 0;
}

.source-name,
.source-type {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .source-item {
    gap: 10px;
    padding: 10px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .source-item {
    font-size: 1rem;
  }
}