/*TrackList Styles*/

.track-list {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c89666;
}

.track-list h3 {
  margin-bottom: 10px;
}

.track-list > p {
  margin-bottom: 20px;
}

.track-list table {
  margin-bottom: 20px;
  font-size: 0.75rem;
  width: 100%;
  display: block;
  overflow-x: auto;
}

.track-list th,
.track-list td {
  padding: 8px 5px;
  white-space: nowrap;
}

.track-list-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid #c89666;
}

.track-list-actions a {
  text-align: center;
}

.track-list-actions button {
  width: 100%;
}

@media (min-width: 768px) {
  .track-list table {
    font-size: 0.9rem;
    display: table;
  }

  .track-list th,
  .track-list td {
    padding: 10px;
  }

  .track-list-actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .track-list-actions button {
    width: auto;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  .track-list {
    padding: 30px;
  }

  .track-list table {
    font-size: 1rem;
  }
}